<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{.Disk.Mount}} stats</title>

    <!-- Variables for graph script -->
    <script>
        var diskName = "{{.Disk.Mount}}";
        var escapedDiskName = "{{.Disk.MountEscaped}}";
    </script>
</head>

<body>
    <div class="container mt-5">
        <div class="col-md-10 mx-auto">
            <h1><strong>{{.Disk.Mount}} statistics</strong></h1>

            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-4">
                            size: {{.Disk.SizeReadable}}
                        </div>
                        <div class="col-md-4">
                            used: {{.Disk.UsedReadable}}
                        </div>
                        <div class="col-md-4">
                            available: {{.Disk.AvailableReadable}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown float-right my-3">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Month
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" id="dayGraph" href="#">Day</a>
                    <a class="dropdown-item" id="weekGraph" href="#">Week</a>
                    <a class="dropdown-item" id="monthGraph" href="#">Month</a>
                    <a class="dropdown-item" id="yearGraph" href="#">Year</a>
                </div>
            </div>

            <div class="canvasContainer my-5">
                <canvas id="diskUsageCanvas"></canvas>
            </div>

            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Disk Space Changes</h5>
                    <h6 class="card-subtitle mb-2 text-muted">The changes in disk space over the last 30, 7 and 1 days.
                    </h6>
                    <div class="row text-center mt-3">
                        <div class="col-md-4">
                            {{ if .MonthPositive}}
                            30 days: <span class="badge badge-success">{{.ChangeMonth}}</span>
                            {{else}}
                            30 days: <span class="badge badge-danger">{{.ChangeMonth}}</span>
                            {{end}}
                        </div>
                        <div class="col-md-4">
                            {{ if .WeekPositive}}
                            7 days: <span class="badge badge-success">{{.ChangeWeek}}</span>
                            {{else}}
                            7 days: <span class="badge badge-danger">{{.ChangeWeek}}</span>
                            {{end}}
                        </div>
                        <div class="col-md-4">
                            {{ if .DayPositive}}
                            1 day: <span class="badge badge-success">{{.ChangeDay}}</span>
                            {{else}}
                            1 day: <span class="badge badge-danger">{{.ChangeDay}}</span>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Disk Fill Predictions</h5>
                    <h6 class="card-subtitle mb-2 text-muted">The time until the disk is full calculated from the disk
                        usage rates. </h6>
                    <div class="row text-center mt-3">
                        <div class="col-md-4">
                            30 days: <span class="badge badge-secondary">{{.FullMonth}}</span>
                        </div>
                        <div class="col-md-4">
                            7 days: <span class="badge badge-secondary">{{.FullWeek}}</span>
                        </div>
                        <div class="col-md-4">
                            1 day: <span class="badge badge-secondary">{{.FullDay}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Graph JS -->
    <script src="/static/js/moment.js"></script>
    <script src="/static/js/Chart.min.js"></script>
    <script src="/static/js/diskGraph.js"></script>

    <!-- Bootstrap JS  for dropdown -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>